$primary-color: white;
$primary-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
$primary-size: 25px;

$secondary-color: #454545;
$secondary-family: "Helvetia", Arial sans-serif;
$secondary-fontsize: 13px;
$secondary-lineheight: 14px;
$secondary-fontweight: bold;
$secondary-fontstyle: normal;
