

#main_info {
  height: auto;
  width: 100%;
  div {
    display: inline-block;
  }

}
.info_container {
  height: auto;
  width: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 75px;
  margin-top: 75px;
  background-color: white;
  .art_info  {
    padding-left: 30px;
    p {
    color: $secondary-color;
    font-family: $secondary-family;
    font-size: $secondary-fontsize;
    line-height: $secondary-lineheight;
    font-weight: $secondary-fontweight;
    font-style: $secondary-fontstyle;
    }
  }
  .copy {
    margin-left: 50px;
    padding-right: 50px;
    float: right;
    width: auto;
    height: auto;
  }
  .button_container {
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 75px;
  }
  .text_info {
    margin-top: 100px;
  }
  p {
    font-family: $primary-family;
    color: $secondary-color;
    font-size: 15px;
  }
}


