@import "layou";
@import "base/base";

@import "layout/header";
@import "layout/footer";
@import "layout/main_info";
@import "layout/main_bottom";
@import "layout/global_footer";

@import "sass-utils/variables";
@import "sass-utils/mixins";

@import "components/buttons";

body {
  padding: 0;
  margin: 0;
  background-color: #384997;
}

